@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900');


html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

body
{
    font-family: Rubik,sans-serif!important;
    font-size: 15px;

    margin: 0;

    background: #fff;
}

a,
button,
input
{
    border: none;
    outline: none;
}

input
{
    font-size: 1rem;
}




.header
{
    display: flex;

    padding: 10px 35px;

    background: #122538;

    justify-content: space-between;
}
.header .logo
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    -ms-align-items: center;
    align-items: center;
}
.header .logo img
{
    height: 35px;
}
.header .wrapper-actions
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    -ms-align-items: center;
    align-items: center;
}
.header .search form
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    overflow: hidden;

    border-radius: 3px;
}
.header .search input
{
    width: 200px;
    height: 35px;
    padding-right: 5px;
    padding-left: 5px;
}
.header .search button
{
    width: 45px;
    height: 37px;
    padding: 0;

    color: #fff;
    background: #00a046;
}
.header .search button:hover
{
    cursor: pointer;

    background: #01b14e;
}
.header .wrapper-actions a
{
    display: block;

    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.header .wrapper-actions .shopping-cart a
{
    background-image: url(../images/cart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}




.wrapper
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    justify-content: space-between;
}




.wrapper-sidebar
{
    padding: 15px 15px 15px 35px;
}
.wrapper-sidebar .sidebar
{
    width: 250px;
}
.wrapper-sidebar .sidebar h2
{
    margin-top: 0;
    margin-bottom: 5px;

    color: #3e77aa;
}
.wrapper-sidebar .sidebar ul
{
    margin: 0;
    padding: 0;
}
.wrapper-sidebar .sidebar ul li
{
    list-style: none;
}
.wrapper-sidebar .sidebar ul li a
{
    font-size: 1rem;

    display: block;

    padding: 5px 0;

    cursor: pointer;
    text-decoration: none;

    color: #3e77aa;
}
.wrapper-sidebar .sidebar ul li a:hover
{
    text-decoration: underline;
}




.content
{
    border-left: 1px solid #e9e9e9;

    flex-grow: 2;
}
.content .search-nothing
{
 padding: 0 15px;
}
.content .content-header
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    padding: 10px 35px 10px 15px;

    border-bottom: 1px solid #e9e9e9;
}
.content .content-header h3{
    font-size: 1.2rem;
    margin: 0;
    color: #333;
}
.content .content-header .select
{
    font-size: 14px;

    display: inline-block;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: 32px;
    margin: 0;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 12px;

    cursor: pointer;

    color: #221f1f;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(../images/select.png);
    background-repeat: no-repeat,repeat;
    background-position: right 12px center;
    background-size: 14px 7px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.content .content-header h2
{
    margin: 0;

    color: #333;
}


.content .catalog
{
    margin: 0;
    padding: 0;
    padding-right: 35px;
    overflow: auto;
}
.content .catalog-item
{
    float: left;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 220px;
    padding: 3px 10px;

    list-style: none;

    border: 1px solid #e9e9e9;
}
.content .catalog-item.new-product
{
    font-size: 3rem;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    cursor: pointer;
    transition: .4s;

    color: #00a046;

    justify-content: center;
    align-items: center;
}
.content .catalog-item.new-product:hover
{
    color: #fff;
    background: #00a0469e;
}
.content .catalog-item a
{
    text-decoration: none;
}
.content  .catalog-item a.picture
{
    display: block;

    width: 100%;
    height: 140px;
    margin: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.content  .catalog-item a.picture img
{
    width: auto;
    height: auto;
}
.content  .catalog-item a.title
{
    display: block;

    min-height: 36px;
    margin-top: 5px;

    color: #333;
}
.content .catalog-item .price
{
    font-size: 1.1rem;

    margin: 5px 0;

    color: #a6a5a5;
}




.content .product
{
    padding: 5px 35px 10px 15px;

    color: #333;
}
.content .product > div
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}
.content .product p
{
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: .08px;
}
.content .product p span
{
    font-size: 1rem;
    font-weight: 600;
}
.content .product .picture
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 250px;
    height: 210px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.content .product .product-description
{
    padding-left: 15px;

    flex-grow: 2;
}
.content .product .product-description button
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    height: 40px;
    padding: 0 10px;

    cursor: pointer;

    color: #fff;
    border-radius: 4px;
    background-color: #00a046;

    -ms-align-items: center;
    align-items: center;
}
.content .product .product-description button img
{
    width: 24px;
}
.content .product .product-description button span
{
    font-size: 1.2rem;
    line-height: 40px;

    margin-left: 7px;
}




.new-product-wrapper {
    display: none;
    background: #0000009c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.new-product-wrapper.active {
    display: flex;
}
.new-product {
    background: #fff;
    width: 550px;
    margin: auto;

    max-height: 90%;
    overflow-y: auto;
}
.new-product h2 {
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 25px;
    color: #313131;
    position: relative;
}
.new-product h2 span{
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
.new-product form {
    padding: 0px 25px 20px;
    margin-top: -10px;
}
.new-product form > .wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.new-product form > .wrapper .input-fields{
    flex-grow: 2;
}
.new-product form > .wrapper p{
    margin-top: 0;
    padding-top: 0;
}
.new-product form > .wrapper .category p{
    margin-top: 8px;
}
.new-product form p {
    margin: 0;
    overflow-x: hidden;
    color: #313131;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    text-transform: inherit;
}
.picture .input-file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.picture .wrapper{
    position: relative;
}
.picture .input-file-hide{
    transition: 1s;
    opacity: 0;
    z-index: -2;
}
.picture .input-file-wrapper{
    width: 120px;
    height: 130px;
    background-color: #edf1f5;
    border-radius: 5px;
    margin-right: 15px;
    border: 1px solid #2f323e30;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.picture label{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    position: relative;
}

.picture label.hide-label{
    opacity: 0;
}
.picture label::after {
    position: absolute;
    content: "Вибрати фото";
    color: #2f323ec7;
    width: 100%;
    bottom: 7px;
    text-align: center;
}
.picture label i{
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    position: absolute;
    font-size: 60px;
    color: #2f323ec7;
}
.new-product form input,
.new-product form select,
.new-product form textarea{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0px 10px;
    width: 100%;
    height: 38px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    color: #565656;
}
.new-product form select{
    display: inline-block;

    max-width: 100%;
    padding-right: 40px;

    cursor: pointer;

    background-image: url(../images/select.png);
    background-repeat: no-repeat,repeat;
    background-position: right 12px center;
    background-size: 14px 7px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.new-product form textarea{
    max-width: 100%;
    min-width: 100%;
    height: 120px;
    max-height: 120px;
}
.new-product button {
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: #01b14e;
    border: 1px solid #01b14e;
    cursor: pointer;
}
.new-product button:hover {
    opacity: .9;
}

